:root {
	--color-green-1: #BAFECF;
	--color-green-2: #64FF93;
	--color-green-3: #0B7F2E;

	--color-blue: #1745C9;
	--color-blue-2: #253D77;

	--color-grey-1: #eff0f1;
	--color-grey-2: #585858;

	--color-bg: #012038;
	--color-slider-bg: #221243;

	--font2: 'Red Hat Display', sans-serif;
}

*, h2 {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

a {
	transition: color 250ms;
}


.row {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: auto;
}

.btn {
	display: inline-block;
	border: none;
	white-space: nowrap;
	line-height: 1;
	padding: 8px  28px;
	border-radius: 7px;
	transition: color 250ms, background 250ms;
	color: #fff;
	background: var(--color-blue);
	font-weight: 900;
	line-height: 32px;
	font-size: 20px;

	&:hover { background: var(--color-green-2);	}

	&--slider {
		border-radius: 12px;
		padding: 23px 71px 20px;
		font-size: 34px;
	}
}

.octa {
	display: inline-block;
	line-height: 1;

	&--in-title { margin-right: 22px; }
}

.header {
	width: 100%;
	height: 108px;
	background: var(--color-bg);
	position: relative;
	z-index: 100;

	&__row {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.header__logo {
	}

	&__menu {
		margin-left: auto;
	}

}

ul.menu {
	display: flex;
	list-style: none;
	font-weight: 900;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-family: var(--font2);

	li {
		&:not(:first-child) {
			margin-left: 32px;
		}

		a {
			padding: 5px;
			color: #fff;
			display: inline-block;

			&:hover {
				color: var(--color-green-2);
			}
		}
	}

	&.footer-menu li a {
		color: var(--color-grey-2);
		&:hover {	text-decoration: underline;}
	}

	&.mob-menu {
		flex-direction: column;
		li {
			margin: 0 15px;
			text-align: right;
			a {	padding: 15px;}
		}
	}
}

.site-logo__octa {
	color: var(--color-green-2);
	display: block;
	line-height: 1;
	margin-right: 29px;
}

.site-logo {
	display: flex;
	align-items: center;
	font-size: 21px;
	line-height: 1;
	letter-spacing: 0.07em;

	color: #fff;

	&__textlogo {
		display: block;
		line-height: 1;

		&--bold {
			font-weight: 900;
			color: var(--color-green-2);
		}
	}
}

section.section-home-slider {
	margin-top: -2px;
}

.slider {
	height: 550px;
	overflow: hidden;

	&__pre-init:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-slider-bg);
		z-index: 10;
		opacity: 1;
		transition: opacity 300ms;
	}

	&--ready:after {
		opacity: 0;
	}
}

.slick-list.draggable, .slick-track {
	height: 100%;
}

.slide {
	position: relative;
	height: 100%;
	background-color: var(--color-slider-bg);

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		img {
			object-fit: cover;
			height: 100%;
			margin: 0 0 0 auto;
			width: auto;
		}
	}

	&__content {
		position: relative;
		z-index: 5;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	&__title {
		font-size: 71px;
		line-height: 72px;
		font-weight: 900;
		color: #fff;
		text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 10px;
    line-clamp: 3;
    box-orient: vertical;
		// width: 100%;
	}

	&__logo + &__title {
		margin-top: 34px;
	}

	&__btn {
		margin-top: 40px;
	}

	&__subtitle {
    font-weight: 800;
    font-size: 31px;
    line-height: 37px;
    color: #fff;
		text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 10px;
    line-clamp: 3;
    box-orient: vertical;
	}

	&__title + &__subtitle {
		margin-top: 56px;
		margin-bottom: 46px;
	}
}

.slick-arrow {
	position: absolute;
	z-index: 10;
	border: none;
	background: none;
	top: 39%;

	&.slick-prev {
		left: 0;
		transform: rotate(180deg);
	}

	&.slick-next {
		left: auto;
		right: 0;
	}
}

ul.slick-dots {
	position: absolute;
	top: auto;
	bottom: 8px;
	left: 50%;
	list-style: none;
	display: flex;
	transform: translateX(-50%);

	button {
		width: 30px;
		height: 40px;
		border: none;
		background: no-repeat;
		font-size: 0;
		position: relative;
		display: block;

		&:before {
			content: '';
			width: 16px;
			height: 16px;
			border: 2px solid #fff;
			display: block;
			margin: auto;
			border-radius: 50%;
			transition: background 250ms;
		}
	}

	.slick-active button:before {		background: #fff;	}
}

/* LINKS */
.home-links {
	display: flex;
	width: calc(100% + 30px);
	margin-left: -15px;
	padding: 55px 0;

	&__link {
		width: calc(33.33% - 15px);
		margin: 0 15px;
		border: 1px solid #C2DFCB;
		border-radius: 10px;
		padding: 21px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background 250ms;
		&:hover {	background: var(--color-green-1); }

		.label {
			font-weight: 500;
			font-size: 33px;
			line-height: 32px;
			letter-spacing: 0.06em;
			color: #7F7F7F;
			text-transform: uppercase;
		}

		img {
			margin: 0;
			& + .label {	margin-left: 28px; }
		}
	}
}

section.home-latest-news {
	background: var(--color-grey-1);
	padding: 24px 0px 45px;;
}

h2.section-title {
	color: var(--color-grey-2);
	font-weight: 800;
	font-size: 37px;
	line-height: 72px;
	text-transform: uppercase;
}


ul.latest-news {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 11px;

	li {		width: 33.33%;	}
	a {
		font-weight: 500;
		font-size: 16px;
		line-height: 35px;
		color: var(--color-grey-2);
		display: inline-flex;
		align-items: flex-start;
	}
	img {
		margin-right: 15px;
		margin: 8px 15px 0 0;
	}

}

section.home-graphic {
	padding: 28px 0;
}

section.home-graphic .tradingview-widget-container {
	margin-top: 25px;
}

.tradingview-widget-container {
	position: relative;
	width: 100%;
	padding-top: 39.1%;

	& > div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


.tradingview-widget-copyright { 	display: none; }

footer#theme_footer {
	margin-top: 17px;
	background: var(--color-green-1);
	padding-top: 34px;
	color: var(--color-grey-2);
	padding-bottom: 35px;
}


.footer__top {
	display: flex;
	flex-wrap: wrap;
}

nav.nav-menu--footer-menu {
	margin-left: auto;
}

.copyright {
	line-height: 1.2;
	a {
		color: var(--color-grey-2);
		&:hover {
			text-decoration: underline;
		}
	}
}

.footer__middle {
	margin-top: 25px;
}

a.footer__logo {
	display: inline-block;
	max-width: 200px;
	max-height: 73px;
}

a.footer__logo img {
	max-width: 200px;
	max-height: 70px;
}

.footer__bottom {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	margin-top: 26px;
}

section.section-intro {
	background-position: center;
	background-size: cover;
	color: #fff;
	padding: 37px 0 27px;
	/* font-weight: 800; */
	font-size: 14px;
	line-height: 18px;
}
.learning-intro-text {
	max-width: 808px;
}

.user-html {
	line-height: 1.3;
	p {
		margin-bottom: 1.3em;
	}
}

.learning {
	padding: 51px 0 36px;
	display: flex;
	justify-content: space-between;
}

.llevel {
	width: calc(50% - 13px);
	background: var(--color-grey-1);
	border-radius: 15px;
	padding: 41px 36px 24px;

	&__title {
		display: flex;
		align-items: center;
		color: var(--color-green-3);
	}

	&__name { 	margin-left: 13px; }

	&__octa {
		position: relative;

		svg {
			height: 90px;
			width: auto;
		}

		b {
			position: absolute;
			top: 50%;
			left: 0;
			margin-left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-size: 50px;
			line-height: 1;
		}

		&--marker {
			color: var(--color-green-3);
			svg {
				width: auto;
				height: 14px;
			}
		}
	}

	&__img {
		margin-top: -9px;
		img {
			display: block;
			margin: auto;
		}
	}

	&__descr {
		font-size: 25px;
		line-height: 33px;
		letter-spacing: -0.03em;
		color: #7F7F7F;
	}

	&__list {
		list-style: none;
		margin-top: 21px;

		li {
			margin-bottom: 6px;

			a {
				display: inline-flex;
				align-items: center;
				color: #214CE2;
				&:hover {
					color: var(--color-green-3);
					text-decoration: underline;
				}
			}
		}
	}
}

.lesson__title {
	padding-left: 8px;
	font-weight: 500;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: -0.03em;
	text-transform: uppercase;
}

.name-part {
	font-size: 48px;
	line-height: 42px;
	letter-spacing: -0.03em;

	&--name {
		color: var(--color-blue-2);
		font-weight: 800;
	}
}

section.section-strategy {
	padding: 45px 0px 28px;
}

.strata {
	background: var(--color-grey-1);
	padding: 40px 15px 40px 40px;
	&:not(:last-child) { margin-bottom: 35px; }

	&__title {
		font-weight: 800;
		font-size: 31px;
		line-height: 22px;
		color: var(--color-blue-2);
		margin-bottom: 28px;
		a {
			color: var(--color-blue-2);
			&:hover {	color: var(--color-green-2);}
		}
	}
	&__content {
		font-size: 14px;
		line-height: 22px;
		p + p {	margin-top: 23px;}
	}

	&__image {
		display: block;
		float: right;
		background: linear-gradient(135deg, rgba(113,239,127,1) 0%, rgba(189,206,189,1) 100%);
		width: 271px;
		height: 249px;
		position: relative;
		border-radius: 15px;
		margin: 0 21px 20px 15px;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&:nth-child(even) &__image {
		float: left;
		margin: 0 38px 10px 0;
	}
}

.section-intro.section-intro--brockers {
	font-size: 20px;
	line-height: 28px;
	padding-bottom: 20px;

	.learning-intro-text {
		max-width: 1130px;
	}
	h2 {
		font-weight: 800;
		font-size: 35px;
		line-height: 33px;
		text-transform: uppercase;
		margin-bottom: 34px;
	}

	p {
		margin-bottom: 1.2em;
		line-height: 1.45;
	}
}



.brocker {
	padding: 36px 0;
	&:nth-child(odd) {		background-color: var(--color-grey-1);	}
	&:last-child { margin-bottom: -17px; }

	&__row {
		display: flex;
		align-items: center;
		max-width: 1296px;
	}

	&__thumb {
		width: 393px;
		height: 198px;
		margin-top: -19px;
		position: relative;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__thumb + &__info {
		width: calc(100% - 393px);
		padding-left: 39px;
	}

	&__title {
		font-weight: 900;
		font-size: 34px;
		line-height: 32px;
		text-transform: uppercase;
		color: #000000;
	}

	&__descr {
		font-weight: 500;
		font-size: 17px;
		line-height: 25px;
		color: #4A4A4A;
		margin-top: 20px;
	}

	&__join {
    margin-top: 24px;
	}
}

.article {
	color: var(--color-grey-2);
	padding: 36px 0 2px;
	font-size: 19px;
	line-height: 28px;

	&__title {
		font-weight: 800;
		font-size: 35px;
		line-height: 33px;
		text-transform: uppercase;
		margin: 0 0 34px;
	}
}

.wp-block-image {
	display: block;
	padding: 36px 0 27px;

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}
}

.leason-navi {
	display: flex;
	flex-wrap: wrap;

	&__item {
		display: block;
		padding: 10px;
		transition: background 250ms;
		margin-top: 20px;
		max-width: 50%;

		&:hover { background: var(--color-green-1); }

		&--next {
			margin-left: auto;
			text-align: end;
		}

		b {
			display: block;
			color: var(--color-green-3);
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 1px;
		}

		span {
			color: #7F7F7F;
		}
	}
}

/* MOBILE */
@media screen and (max-width: 1024px) {}


@media screen and (max-width: 1024px) {
	.nav-menu--main-menu { display: none; }
}

.burger {
	display: block;
	color: #fff;
	width: 20px;
	height: 23px;
	padding: 7px;
	box-sizing: content-box;
	cursor: pointer;
	transition: color 250ms;

	&:hover { color: var(--color-green-2); }
	@media screen and (min-width: 1025px) { display: none; }

	svg {
		display: inline-block;
		line-height: 1;
	}
}

.mm {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	background: rgb(0 0 0 / 65%);
	transform: translateY(-200vh);
	opacity: 0;
	transition: opacity 250ms 250ms, transform 0s 500ms;

	&__box {
		background: var(--color-bg);
		position: absolute;
		top: 0;
		right: 0;
		left: auto;
		width: 300px;
		height: 100%;
		border-left: 2px solid var(--color-green-2);
		transform: translateX(310px);
		transition: transform 350ms 0s;
	}

	&__content {
		padding: 40px 0 0;
	}

	&__close-btn {
		display: flex;
		align-items: center;
		color: #fff;
		padding: 15px;
		font-size: 20px;
		justify-content: flex-end;
		cursor: pointer;

		&:hover {	color: var(--color-green-2);}
		svg { margin-left: 15px;}
	}
}

#toggle-mm:checked + .mm {
	transform: translateY(0);
	opacity: 1;
	transition: opacity 250ms 0s, transform 0s 0s;

	.mm__box {
		transform: translateX(0);
		transition: transform 350ms 250ms;
	}
}

nav.nav-menu--mob-menu {
	margin-top: 10px;
}