@font-face {
	font-family: "humanist";
	src: url("../fonts/Humanist521BT.ttf");
}

@font-face {
	font-family: "centurygothic";
	font-weight: normal;
	src: url("../fonts/centurygothic.ttf");
}

@font-face {
	font-family: "centurygothic";
	font-weight: bold;
	src: url("../fonts/centurygothic_bold.ttf");
}


:root {
	--color-green-1: #BAFECF;
	--color-green-2: #64FF93;
	--color-green-3: #0B7F2E;

	--color-blue: #1745C9;
	--color-blue-2: #253D77;

	--color-grey-1: #eff0f1;
	--color-grey-2: #585858;

	--color-grey-font: #7F7F7F;

	--color-bg: #002add;
	--color-slider-bg: #221243;

	--font2: 'Red Hat Display', sans-serif;
}

*, h2 {
	font-family: 'centurygothic', sans-serif;
}

a {
	transition: color 250ms;
}


.row {
	width: 100%;
	max-width: 1470px;
	padding: 0 15px;
	margin: auto;
}

.btn {
	display: inline-block;
	border: none;
	white-space: nowrap;
	line-height: 1;
	padding: 8px  28px;
	border-radius: 7px;
	transition: color 250ms, background 250ms;
	color: #fff;
	background: var(--color-blue);
	font-weight: 900;
	line-height: 32px;
	font-size: 20px;

	&:hover { background: #6dc7ff;	}

	&--slider {
		@media screen and (min-width: 1281px) {
			border-radius: 12px;
			padding: 23px 71px 20px;
			font-size: 34px;
		}

	}

	@media screen and (max-width: 768px) {
		font-size: 14px;
		padding: 5px 15px;
	}


}

.octa {
	display: inline-block;
	line-height: 1;

	&--in-title {
		margin-right: 22px;
		@media screen and (max-width: 1280px) {
			margin-right: 11px;
    	vertical-align: -2px;
			svg { height: 26px; }
		}

		@media screen and (max-width: 1280px) {
			svg { height: 21px; width: 20px;}
		}

	}
}

.header {
	width: 100%;
	height: 88px;
	background: var(--color-bg);
	position: sticky;
	top: 0;
	z-index: 100;
  box-shadow: 0px 7px 20px rgba(0,8,36,0.38);
	filter: drop-shadow(0px 7px 20px rgba(0,8,36,0.38));


	@media screen and (max-width: 1024px) {
		height: 60px;
	}

	&__row {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__menu {
		margin-left: auto;
	}
}

.admin-bar .header {
	top: 32px;
}

.nav-menu {

	@media screen and (max-width: 1024px) {
		&--main-menu { display: none; }
	}

	&--mob-menu {
		margin-top: 10px;
	}

	&--footer-menu {
		margin-left: auto;
		@media screen and (max-width: 1024px) {
			width: 100%;
			margin-top: 20px;
		}
	}
}

ul.menu {
	display: flex;
	list-style: none;
	font-size: 24px;
	line-height: 16px;
	font-family: var(--font2);

	@media screen and (max-width: 1366px) {
		font-size: 20px;
	}

	li {
		&:not(:first-child) {
			margin-left: 46px;
			@media screen and (max-width: 1366px) {
				margin-left: 15px;
			}
		}

		a {
			padding: 5px;
			color: #fff;
			display: inline-block;

			&:hover {
				color: #6dc7ff;
			}
		}
	}

	&.footer-menu {

		@media screen and (max-width: 1024px) {
			flex-wrap: wrap;
			justify-content: center;
		}

		li {
			@media screen and (max-width: 1024px) {
				margin: 0 16px 16px;
			}

			a {
				color: var(--color-grey-2);
				&:hover {	text-decoration: underline;}
			}
		}
	}

	&.mob-menu {
		flex-direction: column;
		li {
			margin: 0 15px;
			text-align: right;
			a {	padding: 15px;}
		}
	}
}

.site-logo {
	display: flex;
	align-items: center;
	font-size: 28px;
	line-height: 1;
	letter-spacing: 0.07em;
	color: #fff;
	font-family: 'humanist';

	@media screen and (max-width: 768px) {
		font-size: 16px;
	}

	&__img {
    margin-right: -4px;
	}

	&__textlogo {
		display: block;
		line-height: 1;
		font-family: 'humanist';
		margin-top: -7px;

		&--bold {
			font-weight: 900;
			color: #6dc7ff;
		}
	}
}

section.section-home-slider {
	margin-top: -2px;
}


.slider {
	max-height: 794px;
  overflow: hidden;
  height: 41.35vw;

	@media screen and (max-width: 768px) {
		height: 280px;
	}


	&__pre-init:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-slider-bg);
		z-index: 10;
		opacity: 1;
		transition: opacity 300ms;
	}

	&--ready:after {
		opacity: 0;
	}
}

.slick-list.draggable, .slick-track {
	height: 100%;
}
/****************/

.slide {
	position: relative;
	height: 100%;
	background-color: var(--color-slider-bg);

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		@media screen and (max-width: 768px) {
			opacity: 0.4;
		}

		img {
			object-fit: cover;
			height: 100%;
			margin: 0 0 0 auto;
			width: 100%;
		}
	}

	&__content {
		position: relative;
		z-index: 5;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		@media screen and (max-width: 1750px) {
			padding: 0 60px;
		}
	}

	&__title {
		font-size: 90px;
		line-height: 1.09;
		font-weight: 900;
		color: #fff;
		text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 10px;
    line-clamp: 3;
    box-orient: vertical;

		@media screen and (max-width: 1880px) {
			font-size: 68px;
		}

		@media screen and (max-width: 1280px) {
			font-size: 40px;
		}

		@media screen and (max-width: 768px) {
			font-size: 26px;
			margin: 0;
		}
	}

	&__logo {
		@media screen and (max-width: 1280px) {
			max-width: 150px;
		}

		@media screen and (max-width: 768px) {
			margin-top: -30px;
		}
	}

	&__logo + &__title {
		margin-top: 34px;
		@media screen and (max-width: 1280px) { margin-top: 10px; }
		@media screen and (max-width: 768px) { margin-top: 6px; }
	}

	&__btn {
		margin-top: 60px;
		@media screen and (max-width: 768px) {
			margin-top: 10px;
		}
	}

	&__subtitle {
    font-weight: 800;
    font-size: 36px;
		line-height: 1.2;
    color: #fff;
		text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 10px;
    line-clamp: 3;
    box-orient: vertical;

		@media screen and (max-width: 1280px) {			font-size: 22px;		}
		@media screen and (max-width: 768px) {			font-size: 16px;		}
	}

	&__title + &__subtitle {
		margin-top: 56px;
		margin-bottom: 46px;

		@media screen and (max-width: 1280px) {			margin: 36px 0 0;		}
		@media screen and (max-width: 768px) {			margin: 6px 0 0;		}
	}
}

.slick-arrow {
	position: absolute;
	z-index: 10;
	border: none;
	background: none;
	top: 50%;
	color: #fff;
	transform: translateY(calc(-50% - 10px));

	svg {
    width: 22px;
	}

	&.slick-prev {
		left: 46px;
		@media screen and (max-width: 1680px) {	left: 15px; }
	}

	&.slick-next {
		left: auto;
		right: 39px;
		@media screen and (max-width: 1680px) { right: 15px; }
	}
}

ul.slick-dots {
	position: absolute;
	top: auto;
	bottom: 8px;
	left: 50%;
	list-style: none;
	display: flex;
	transform: translateX(-50%);

	button {
		width: 30px;
		height: 40px;
		border: none;
		background: no-repeat;
		font-size: 0;
		position: relative;
		display: block;

		&:before {
			content: '';
			width: 16px;
			height: 16px;
			display: block;
			background: #8691af;
			margin: auto;
			border-radius: 50%;
			transition: background 250ms;
		}
	}

	.slick-active button:before {		background: #eaedf6;	}
}



/* LINKS */
.home-links {
	display: flex;
	width: 100%;
	padding: 120px 0;
	align-content: center;
	justify-content: space-between;

	@media screen and (max-width: 1400px) {
		padding: 55px 0;
	}

	@media screen and (max-width: 1024px) {
		flex-wrap: wrap;
		justify-content: center;
		padding: 55px 0 25px;
	}

	&__link {
		width: 33.33%;
		border-radius: 10px;
		padding: 33px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background 250ms;
		font-weight: 700;
		font-size: 29px;
		line-height: 1.07;
		color: #002add;
		text-transform: uppercase;

		max-width: 416px;

		box-shadow: 0px 5px 0px #b3bde1;
		filter: drop-shadow(0px 5px 0px #b3bde1);
		background-color: #f1f5ff;

		@media screen and (max-width: 1400px) {
			padding: 21px;
			width: 26%;
		}

		@media screen and (max-width: 1280px) {
			font-size: 22px;
			padding: 10px 15px;
			width: 25%;
		}

		@media screen and (max-width: 1024px) {
			width: 40%;
			min-width: 290px;
			margin: 0 auto 30px;
		}

		&:hover {	background: #fff; }

		img {
			margin: 0;
			@media screen and (max-width: 1280px) {
				max-width: 34px;
			}

			& + .label {	margin-left: 28px; }
		}
	}
}

.grey-gradient {
	background-image: linear-gradient( 0deg, #dde0ea 0%, #dde2ed 100%);
}

section.home-latest-news {
	background: #f1f5ff;
	padding: 24px 0px 45px;;
}

.section-title {
	color: #342455;
	font-weight: 800;
	font-size: 72px;
	line-height: 1.5;
	text-transform: uppercase;

	@media screen and (max-width: 1680px) {
		font-size: 48px;
	}

	@media screen and (max-width: 1280px) {
		font-size: 28px;
		line-height: 1.15;
	}

	@media screen and (max-width: 768px) {
		font-size: 24px;
	}

}


ul.latest-news {
	display: flex;
	flex-wrap: wrap;
	margin-top: 18px;

	@media screen and (max-width: 1680px) {
		padding-left: 1em;
	}

	li {
		width: 33.33%;
		padding-right: 35px;
    margin-bottom: 15px;

		@media screen and (max-width: 1400px) { width: 50%; }
		@media screen and (max-width: 1024px) { width: 100%; }
	}

	a {
		font-size: 24px;
		line-height: 1.275;
		color: #342455;
		display: inline-flex;
		align-items: flex-start;

		@media screen and (max-width: 1680px) {
			font-size: 20px;
		}


		&:hover { color: #002add; }
	}
}

section.home-graphic {
	padding: 78px 0;
}

section.home-graphic .tradingview-widget-container {
	margin-top: 25px;
}

.tradingview-widget-container {
	position: relative;
	width: 100%;
	padding-top: 39.1%;

	@media screen and (max-width: 768px) {
		padding-top: 56.65%;
	}

	& > div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.tradingview-widget-copyright { 	display: none; }





.footer {
	background: #0c1fa1;
	padding-top: 1px;
	color: #fff;
	padding-bottom: 35px;

	&__top {
		display: flex;
		flex-wrap: wrap;
	}
	&__middle {
		margin-top: 45px;

		@media screen and (max-width: 1024px) {
			margin-top: 9px;
			text-align: center;
		}

	}
	&__logo {
		display: inline-block;
		img {
			max-width: 260px;
			max-height: 80px;
		}
	}
	&__bottom {
		font-style: normal;
		font-weight: normal;

		font-size: 18px;
		line-height: 26px;

		margin-top: 42px;
	}
}

.copyright {
	font-size: 18px;
	line-height: 16px;
	margin-top: 34px;

	@media screen and (max-width: 1024px) {
		font-size: 16px;
		width: 100%;
		text-align: center;
	}

	a {
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
}

.section-intro {
	background-position: center;
	background-size: cover;
	color: #fff;
	padding: 37px 0 27px;
	font-size: 16px;
	line-height: 18px;
}

.learning-intro-text {
	max-width: 808px;
}

.user-html {
	line-height: 1.3;
	p {
		margin-bottom: 1.3em;
	}

	h2, h3, h4 {
		margin: 1em 0 0.8em;
	}
}

.learning {
	padding: 51px 0 36px;
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 1280px) {	justify-content: center;	}
	@media screen and (max-width: 768px) {
		flex-direction: column;
    align-items: center;
	}

}

.llevel {
	width: calc(50% - 13px);
	border-radius: 15px;
	padding: 41px 36px 24px;

	@media screen and (max-width: 1280px) {
		width: calc(45% - 15px);
		margin: 0 15px;
	}

	@media screen and (max-width: 1024px) {
    width: calc(50% - 15px);
    padding: 30px 15px 15px;
    margin: 0 15px;
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		max-width: 320px;
		margin: auto;
		& + & {
			margin-top: 25px;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		color: #1745C9;
	}

	&__name { 	margin-left: 13px; }

	&__octa {
		position: relative;

		svg {
			height: 90px;
			width: auto;
			@media screen and (max-width: 1280px) {	height: 66px; }
			@media screen and (max-width: 1024px) { height: 50px; }

		}

		b {
			position: absolute;
			top: 50%;
			left: 0;
			margin-left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-size: 50px;
			line-height: 1;
			@media screen and (max-width: 1280px) { font-size: 30px; }

		}

		&--marker {
			color: var(--color-green-3);
			svg {
				width: auto;
				height: 14px;
			}
		}
	}

	&__img {
		margin-top: -9px;
		@media screen and (max-width: 1280px) {
			margin: 0;
			position: relative;
			padding-top: 86%;
		}

		img {
			display: block;
			margin: auto;
			@media screen and (max-width: 1280px) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 95%;
				object-fit: contain;
			}
		}
	}

	&__descr {
		font-size: 18px;
		line-height: 1.32;
		letter-spacing: -0.03em;
		color: #342455;
		@media screen and (max-width: 1280px) { font-size: 22px; }
		@media screen and (max-width: 1280px) { font-size: 18px; }
	}

	&__list {
		margin-top: 21px;
		padding-right: 15px;
		padding-left: 1em;

		li {
			margin-bottom: 6px;
    	padding-right: 15px;
    	margin-bottom: 15px;
			width: 100%;

			a {
				font-size: 24px;
				line-height: 1.275;
				color: #342455;
				display: inline-flex;
				align-items: flex-start;

				@media screen and (max-width: 1680px) {
					font-size: 20px;
				}

				&:hover { color: #002add; }
			}
		}
	}
}

.lesson__title {
	padding-left: 8px;
	font-weight: 500;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: -0.03em;
	text-transform: uppercase;
}

.name-part {
	font-size: 48px;
	line-height: 42px;
	letter-spacing: -0.03em;

	@media screen and (max-width: 1280px) {
		font-size: 35px;
    line-height: 0.875;
    letter-spacing: 0;
	}

	@media screen and (max-width: 1024px) {
		font-size: 24px;
	}

	&--name {
		color: #342455;
		font-weight: 800;
	}
}

section.section-strategy {
	padding: 45px 0px 28px;
}

.strata {
	padding: 40px 15px 40px 40px;
	border-radius: 15px;

	&:not(:last-child) { margin-bottom: 35px; }
	@media screen and (max-width: 1024px) {
		padding: 30px 15px;
	}

	&__title {
		font-weight: 800;
		font-size: 31px;
		line-height: 22px;
		color: #342455;
		margin-bottom: 28px;
		@media screen and (max-width: 1024px) {
			line-height: 1;
		}

		a {
			color: #342455;
			&:hover {	color: #6dc7ff;}
		}
	}

	&__content {
		color: #342455;
		font-size: 16px;
		line-height: 22px;

		@media screen and (min-width: 1025px) {
			&--mob { display: none; }
		}

		@media screen and (max-width: 1024px) {
			&--desktop { display: none;  }
		}

		&:after {
			content: '';
			display: block;
			clear: both;
		}

		p + p {	margin-top: 23px;}
	}

	&__image {
		display: block;
		float: right;
		background: linear-gradient(135deg, rgba(113,239,127,1) 0%, rgba(189,206,189,1) 100%);
		width: 271px;
		height: 249px;
		position: relative;
		border-radius: 15px;
		margin: 0 21px 20px 15px;
		overflow: hidden;

		@media screen and (max-width: 570px) {
			float: none;
			margin: 0 auto 20px;
			width: 217px;
			height: 200px;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@media screen and (min-width: 571px) {
		&:nth-child(even) &__image {
			float: left;
			margin: 0 38px 10px 0;
		}
	}
}

.section-intro.section-intro--brockers {
	font-size: 16px;
	line-height: 1.45px;
	padding-bottom: 20px;

	.learning-intro-text {
		max-width: 1130px;
	}
	h2 {
		font-weight: 800;
		font-size: 48px;
		line-height: 0.943;
		text-transform: uppercase;
		margin-bottom: 34px;

		@media screen and (max-width: 1680px) {
			font-size: 35px;
		}

		@media screen and (max-width: 1280px) {
			font-size: 28px;
			line-height: 1.15;
		}

		@media screen and (max-width: 768px) {
			font-size: 24px;
		}

	}

	p {
		margin-bottom: 1.2em;
		line-height: 1.45;
	}
}



.brocker {
	padding: 36px 0;
	&:nth-child(odd) {		background-color: var(--color-grey-1);	}
	&:last-child { margin-bottom: -17px; }

	&__row {
		display: flex;
		align-items: center;
		max-width: 1296px;

		@media screen and (min-width: 1025px) {
			&--mob { display: none;}
		}

		@media screen and (max-width: 1024px) {
			&--desktop { display: none; }
		}

	}

	&__thumb {
		width: 393px;
		height: 198px;
		margin-top: -19px;
		position: relative;

		@media screen and (max-width: 1024px) { margin-top: 15px;	}
		@media screen and (max-width: 570px) {
			width: 100%;
			max-width: 393px;
			height: auto;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__thumb + &__info {
		width: calc(100% - 393px);
		padding-left: 39px;
	}

	&__title {
		font-weight: 900;
		font-size: 34px;
		line-height: 32px;
		text-transform: uppercase;
		color: #342455;


		@media screen and (max-width: 1280px) {
			font-size: 28px;
			line-height: 1.15;
		}

		@media screen and (max-width: 768px) {
			font-size: 22px;
		}
	}

	&__descr {
		color: #342455;
		font-weight: 500;
		font-size: 16px;
		line-height: 25px;
		margin-top: 20px;
	}

	&__join {
    margin-top: 24px;
	}
}

.article {
	color: var(--color-grey-2);
	padding: 36px 0 2px;
	font-size: 19px;
	line-height: 28px;

	&__title {
		font-weight: 800;
		font-size: 35px;
		line-height: 33px;
		text-transform: uppercase;
		margin: 0 0 34px;


		@media screen and (max-width: 1280px) {
			font-size: 28px;
			line-height: 1.15;
		}

		@media screen and (max-width: 768px) {
			font-size: 22px;
		}

	}
}

.wp-block-image {
	display: block;
	padding: 36px 0 27px;

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}
}

.leason-navi {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;

	&__item {
		display: block;
		padding: 10px;
		transition: background 250ms;
		margin-top: 20px;
		max-width: 50%;

		@media screen and (max-width: 768px) {
			width: 100%;
			max-width: none;
		}


		&:hover { background: #a0d5f7 }

		&--next {
			margin-left: auto;
			text-align: end;
		}

		b {
			display: block;
			color: #1745C9;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 1px;
		}

		span { color: #585858; }
	}
}

/* MOBILE */
.burger {
	display: block;
	color: #fff;
	width: 20px;
	height: 23px;
	padding: 7px;
	box-sizing: content-box;
	cursor: pointer;
	transition: color 250ms;

	&:hover { color: var(--color-green-2); }
	@media screen and (min-width: 1025px) { display: none; }

	svg {
		display: inline-block;
		line-height: 1;
	}
}

.mm {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	background: rgb(0 0 0 / 65%);
	transform: translateY(-200vh);
	opacity: 0;
	transition: opacity 250ms 250ms, transform 0s 500ms;

	&__box {
		background: var(--color-bg);
		position: absolute;
		top: 0;
		right: 0;
		left: auto;
		width: 300px;
		height: 100%;
		border-left: 2px solid var(--color-green-2);
		transform: translateX(310px);
		transition: transform 350ms 0s;
	}

	&__content {
		padding: 40px 0 0;
	}

	&__close-btn {
		display: flex;
		align-items: center;
		color: #fff;
		padding: 15px;
		font-size: 20px;
		justify-content: flex-end;
		cursor: pointer;

		&:hover {	color: var(--color-green-2);}
		svg { margin-left: 15px;}
	}
}

#toggle-mm:checked + .mm {
	transform: translateY(0);
	opacity: 1;
	transition: opacity 250ms 0s, transform 0s 0s;

	.mm__box {
		transform: translateX(0);
		transition: transform 350ms 250ms;
	}
}




.box404 {
	position: relative;
	color: var(--color-grey-2);

	& > p {
		font-size: 42px;
		font-weight: 700;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		left: 0;
		margin-left: 50%;
	}

	&__ocata-border {
		display: block;
		margin: 50px auto 0;

		svg {
			width: 500px;
			height: 500px;
			display: block;
			margin: auto;

			@media (max-width: 768px) {
				width: 290px;
				height: 290px;
			}
		}
	}
}

h2.no-page {
	margin: 50px 0px;
	text-align: center;
	@media (max-width: 768px) {
		margin: 10px 0px 50px;
	}
}









