/*
	Theme Name: OptionsTradingClub
	Version: 1.0
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	padding: 0;
	margin: 0;
	outline: none;
}

img {
	max-width:100%;
	vertical-align:bottom;
	display: inline-block;
	margin: auto;
}


a {
	text-decoration:none;
    transition: color 250ms, opacity 250ms, background 250ms;
}

a:focus {
	outline:0;
	outline-color: transparent;
}
a:hover,
a:active {
	outline:0;
	outline-color: transparent;
}
input:focus {
	outline:0;
}

button, input {
	outline: none;
}



/* @font-face {
    font-family: "Bitter";
    src: url("fonts/bitter-400.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Bitter";
    src: url("fonts/bitter-700.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/raleway-400.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/raleway-700.woff2") format("woff2");
    font-weight: 700;
} */

@font-face {
	font-family: 'M PLUS Rounded 1c';
	src: local('Rounded Mplus 1c Light'), local('RoundedMplus1c-Light'), url('fonts/Roundedmplus1clight.woff2') format('woff2'), url('fonts/Roundedmplus1clight.woff') format('woff'), url('fonts/Roundedmplus1clight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'M PLUS Rounded 1c';
	src: local('Rounded Mplus 1c'), local('RoundedMplus1c-Regular'), url('fonts/Roundedmplus1c.woff2') format('woff2'), url('fonts/Roundedmplus1c.woff') format('woff'), url('fonts/Roundedmplus1c.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'M PLUS Rounded 1c';
	src: local('Rounded Mplus 1c Thin'), local('RoundedMplus1c-Thin'), url('fonts/Roundedmplus1cthin.woff2') format('woff2'), url('fonts/Roundedmplus1cthin.woff') format('woff'), url('fonts/Roundedmplus1cthin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'M PLUS Rounded 1c';
	src: local('Rounded Mplus 1c ExtraBold'), local('RoundedMplus1c-ExtraBold'), url('fonts/Roundedmplus1cextrabold.woff2') format('woff2'), url('fonts/Roundedmplus1cextrabold.woff') format('woff'), url('fonts/Roundedmplus1cextrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'M PLUS Rounded 1c';
	src: local('Rounded Mplus 1c Black'), local('RoundedMplus1c-Black'), url('fonts/Roundedmplus1cblack.woff2') format('woff2'), url('fonts/Roundedmplus1cblack.woff') format('woff'), url('fonts/Roundedmplus1cblack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'M PLUS Rounded 1c';
	src: local('Rounded Mplus 1c Medium'), local('RoundedMplus1c-Medium'), url('fonts/Roundedmplus1cmedium.woff2') format('woff2'), url('fonts/Roundedmplus1cmedium.woff') format('woff'), url('fonts/Roundedmplus1cmedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'M PLUS Rounded 1c';
	src: local('Rounded Mplus 1c Bold'), local('RoundedMplus1c-Bold'), url('fonts/Roundedmplus1cbold.woff2') format('woff2'), url('fonts/Roundedmplus1cbold.woff') format('woff'), url('fonts/Roundedmplus1cbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
