form.rw-adm-options-form {
  .form-heading {
    h2 {    margin: 0;  }
  }
  .regular-text {
    width: 25em;

    &[type="url"] {
      width: calc(50em + 20px);
    }
  }
}

.form-field {
  &__pack {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
    .regular-text {
      margin-right: 15px;
      width: calc(25% - 20px);
      min-width: 140px;
      margin-bottom: 15px;
      &[type="url"] {
        width: calc(50% - 20px);
      }
    }
  }
}


.rw-request-meta {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: flex-start;
	&:not(:first-child) {
		border-top: 1px solid #eee;
	}

	&__name, &__value {
		box-sizing: border-box;
	}
	
	&__name {
		width: 280px;
		font-weight: 600;
		padding: 10px 30px 10px 0;
		border-right: 1px solid #eee;
	}
	
	&__value {
		width: calc(100% - 280px);
		padding: 10px;
		border-left: 1px solid #eee;
		margin-left: -1px;
	}

}
