:root {
  --calc-red: #d33;
  --calc-bg-check: rgba(221, 51, 51, 0.2);
}

[hide] { display: none!important; }
.qq {
	color: #192;
}
span.rw-svg {
	display: inline-block;
	height: 37px;
	vertical-align: middle;
	line-height: 1;
	
	svg {
		display: inline-block;
		height: 25px;
		vertical-align: middle;
		line-height: 25px;
		width: 30px;
	}
}

#top-content-region { display: none; }

.rqw-calc {
  display: block;
  position: relative;
  &.in--submit {
    &:before {
      content: '';
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(255 250 250 / 70%);
      z-index: 10;
    }
    
    &:after {
      content: 'Loading...';
      position:absolute;
      top: auto;
      left: 0;
      bottom: 12px;
      height: auto;
      width: 100%;
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      letter-spacing: 13px;
      z-index: 11;
      color: var(--calc-red);
    }
  }
}

.rqw-step {
  // display: none;

  &__title {
    margin: 24px 85px 12px 3px;
    font-family: Lato;
    font-size: 22px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.21px;
    color: #333333;
  }

  &--open {  
    // display: block;
  }
}

.rqw-quest {
	display: none;

  &--first-visible {
		display: block;
  }

	&[class*="quest-openby__"] {
		display: block;
	}

  &__title {
    margin: 12.4px 6.7px 98.3px 3px;
    font-family: 'Bitter';
    font-size: 34.3px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: 0.3px;
    color: #333333;
  }

  &__answs {
    display: flex;
    flex-wrap: wrap;
    
  }
}

.answer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(25% - 79px);
  margin: 0;
  height: 220px;
  cursor: pointer;
  margin-bottom: 35px;

  &:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  
  &__label {
    position: relative;
    z-index: 5;
    margin: 0 0 37px;
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.04px;
    text-align: center;
    color: #333333;
    transition: transform 250ms, color 250ms;
  }
  
  &__checked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px transparent;
    transition: border 250ms, background 250ms;
    z-index: 2;

    &:before, &:after {
      content: '';
      position: absolute;
      left: auto;
      transition: opacity 200ms;
    }

    &:before {
      top: -18px;
      right: -23px;
      width: 42px;
      height: 42px;
      z-index: 6;
      background: #d33;
      border-radius: 50%;
      border: 5px solid #fff;
      opacity: 0;
    }

    &:after {
      top: 0px;
      right: -16px;
      width: 15px;
      height: 10px;
      z-index: 7;
      transform-origin: bottom left;
      transform: rotate(  -45deg  );
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;
      opacity: 0;

    }
  }

  &__icon {
    position: relative;
    z-index: 5;
    height: 88px;
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    margin-top: 52px;
    color: #333;
    transition: color 250ms;

		svg {
			max-height: 100%;
			height: auto;
		}
  }

  input {display: none;}

  input:checked ~ &__icon {
    color: #dd3333;
  }

  input:checked ~ &__label {
    color: #dd3333;
    transform: translateY(-5px);
  }
  input:checked ~ &__checked {
    border-color: #dd3333;
    background-color: var(--calc-bg-check);
    &:before,&:after {
      opacity: 1;
    }

  }

}

.rqw-range {
  display: flex;
  position: relative;
  width: 100%;
  height: 322px;
  align-items: center;

  --range-reg: #eb152e;

  span {
    position: absolute;
    width: 58px;
    height: 50px;
    color: #fff;
    padding: 12px 21px 14px;
    border-radius: 4px;
    background-color: #333333;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    top: 7px;
    left: 0;
    transform: translate(-6px, 0);
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      width: 17px;
      height: 17px;
      transform: rotate(-45deg);
      background-color: #333333;
      bottom: -7px;
      left: 21px;
    }
  }


  input[type=range] {
    height: 54px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--calc-red);
    border-radius: 9px;
    border: 0px solid var(--calc-red);
  }
  input[type=range]::-webkit-slider-thumb {
    border: 2px solid #E5E5E5;
    height: 46px;
    width: 46px;
    border-radius: 27px;
    background: var(--calc-red);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -17.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--calc-red);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--calc-red);
    border-radius: 9px;
    border: 0px solid var(--calc-red);
  }
  input[type=range]::-moz-range-thumb {
    border: 2px solid #E5E5E5;
    height: 46px;
    width: 46px;
    border-radius: 27px;
    background: var(--calc-red);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: var(--calc-red);
    border: 0px solid var(--calc-red);
    border-radius: 18px;
  }
  input[type=range]::-ms-fill-upper {
    background: var(--calc-red);
    border: 0px solid var(--calc-red);
    border-radius: 18px;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    border: 2px solid #E5E5E5;
    height: 46px;
    width: 46px;
    border-radius: 27px;
    background: var(--calc-red);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: var(--calc-red);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: var(--calc-red);
  }

  

}


.rqw-actions {
  margin: 12px 0;
  display: none;

  &--show { 
    display: block;
  }
}

.calc-btn {
  color: var(--calc-red);
  border: 1px solid;
  background: transparent;
  padding: 13px 44px 13px 45px;
  font-family: Lato;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.56px;
  text-align: center;
  transition: color 250ms, background 250ms;

  &:hover {
    color: #fff;
    background: var(--calc-red);
  }

	&--submit {
		color: #fff;
    background: var(--calc-red);
		padding: 15px 47px;
		font-size: 18px;

		&:hover {
			color: var(--calc-red);
			background: transparent;
		}
	}

}

.rw-ttt {
  position: fixed;
  top: 50%;
  left: auto;
  right: 0;
  background-color: #ed474b;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transform: translateY(-50%);
  z-index: 10;

  &__max {    font-size: 50px;  }
}



.rwcalc-popup {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;

  &__close {
    position: absolute;
    top: 15px;
    left: auto;
    right: 15px;
    cursor: pointer;
    line-height: 1;
    margin: 0;
    font-size: 0;
    padding: 4px;
    border: 1px solid transparent;
    transition: border 250ms;
    z-index: 10;
    
    &:hover { border-color: var(--calc-bg-check); }
  }

  &__body {
    width: 90%;
    max-width: 1245px;
    height: 90%;
    max-height: 722px;
    background-color: #fff;
    position: relative;
    z-index: 10;

    &:before {
      content: '';
      position: absolute;
      width: 44.25%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #D0E7F6;
      z-index: 1;
    }
  }

  & > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 62%);
  }
}

.rwcalc-popup__trigger:checked + .rwcalc-popup {
  display: flex;
}


.rwc-grid {
  display: grid;
  grid-template-columns: 44.25% 1fr;
  grid-auto-rows: 1fr 1fr;
  

  &__plan {
    display: none;
    position: relative;
    z-index: 5;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__estiname {
    position: relative;
    z-index: 5;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &__form {
    position: relative;
    z-index: 5;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    .rwc-form {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 45px 84px 50px 83px;
      
      &__title {
        margin: 37.9% 0 0;
        font-family: Bitter;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
      }
      
      &__meet {
        margin-top: auto;
        display: flex;
        width: calc(100% + 29px);
        align-items: center;
    
        span {  letter-spacing: -0.4px;}
    
        .btn-meeting {
          margin-left: auto;
          border: 2px solid var(--calc-red);
          padding: 8px 33px;
          line-height: 1;

					&:hover {
						background-color: var(--calc-red);
            color: #fff;
					}
        }
      }
      
      &__form {
        margin-top: 33px;
        display: flex;
        
        &.in--submit {
          position: relative;
          &:before {
            content: '';
            position:absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(255 255 255 / 70%);
            z-index: 10;
          }
        }
        input {
          border: 1px solid #b0b0b0;
          width: 225px;
          padding: 10px 13px 9px;
          font-size: 14px;
					margin-right: 20px;
        }
        
        button {
          padding: 4px 28px;
          border: 1px solid var(--calc-red);
          text-align: center;
          color: #fff;
          background-color: var(--calc-red);
          transition: background 250ms, color 250ms;
          
          &:hover {
            color: var(--calc-red);
            background-color: #fff;
          }
        }
      }
    }
  }

  &__img {
    position: relative;
    z-index: 5;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    overflow: hidden;
    display: flex;
    align-items: flex-end;

    img {
      display: block;
      margin: auto 0 -2px -2px;
      max-width: 534px;
    }
  }

  &.has--plan .rwc-grid {
    &__plan {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-top: 58px;
      
    }
    &__estiname {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;

      .rwc-est {
        padding: 62px 77px 0;
        max-width: 594px;
      }

    }
    &__form {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;

      .rwc-form {
        padding: 27px 91px 58px 77px;

        &__title {
          margin-top: 0;
        }
      }
  
    }
    &__img {
      display: none;
    }
  }
}


.rwc-plan {
  width: 312px;
  color: #333333;
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  
  & > strong {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.0345455px;
    display: block;
    margin-bottom: 10px;
  }
  
  &__card {
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    padding: 46px 43px 26px;
  }

  &__ico {
    width: 41px;
    height: 49px;
  }

  &__subtitle {
    display: block;
    margin-top: 26px;
    font-weight: bold;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.0345455px;
    mix-blend-mode: normal;
    opacity: 0.7;
  }

  &__name {
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 28.5714px;
    line-height: 29px;
    letter-spacing: -0.7px;
    display: block;
    margin-top: 4px;
  }
  &__price {
    font-weight: bold;
    font-size: 40px;
    line-height: 29px;
    letter-spacing: 0.0863637px;
    display: block;
    margin-top: 24px;
    margin-bottom: 26px;

  }

  &__info {
    margin-top: 26px;
    border-top: 1px solid #e6e6e6;
    padding: 0px 0 0 0;
    list-style: none;
    li {
      font-weight: bold;
      font-size: 18px;
      line-height: 29px;
      letter-spacing: 0.0394806px;
      display: block;
      padding-left: 33px;
      margin: 19px 0 26px;
      display: block;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 5px;
        top: auto;
        bottom: 10px;
        height: 8px;
        width: 4px;
        transform: rotate(    -45deg    );
        background: #333;
        border-radius: 10px;
        transform-origin: bottom center;
      }

      &::after {
        content: "";
        position: absolute;
        left: 3px;
        top: auto;
        bottom: 10px;
        height: 15px;
        width: 4px;
        transform: rotate(45deg);
        background: #333;
        border-radius: 10px;
        transform-origin: bottom center;
      }
    }
  }
}

.rwc-est {
  padding: 51px 49px 0;
  &__title {
    font-size: 24px;
    line-height: 29px;
    display: block;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 0.3px;
    svg {
      margin-right: 13px;
      vertical-align: bottom;
    }
  }
  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 24px;
    margin-bottom: 0;
  }
}

.quote-hdm {
  margin-top: 22px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__label {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    color: #000000;
    display: block;
    width: 100%;
  }

  &__time {
    width: 30%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 0;
    letter-spacing: -0.3px;
    &--hours {    text-align: left;}
    &--days {    text-align: center;}
    &--month {    text-align: right;}
    
    b {
      font-family: Bitter;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      margin-right: 11px;
      vertical-align: -3px;
      letter-spacing: 2px;
    }


  }
  & + & { margin-top: 10px; }
}

